#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero/hero.jpg");
    width: 100%;
    /* Fills 100% of the vertical height */
    height: 100vh;

    /* Image positioning */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Hero Text */
.hero-text {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #EDF5E1;

}

.hero-text h1 {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 3px;
}

#green-header {
    color: #8EE4AF;    
}

/* .dividing-line {
    position: absolute;
    left: calc(50% - 195px);
    height: 1px;
    width: 390px;
    background-color: #f1b24a;
} */

.hero-text h2 {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0;
    letter-spacing: 2px;
}

/* Call-to-Action Buttons */
.call-to-action {
    top: 50%;
    /* Calculate card width so the box is central */
    left: calc(50% - 320.5px); 
    padding: 32px 16px;
    position: absolute;
    text-align: center;
}

.call-to-action img {
    height: 22px;
    width: 22px;
    padding-right: 15px;
}

.call-to-action a {
    margin: 10px 20px;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 40px;
    background-color: #379683;
    font-size: 22px;
    color: #EDF5E1;
    text-decoration: none;
}

.call-to-action a:hover {
    background-color: #44b9a2;
}