@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

/* Navigation Bar */
nav {
    position: fixed;
    width: 100%;
    min-height: 40px;
    z-index: 1000; /* Puts the header in front of the hero image */
}

nav ul {
    display: flex;
    padding: 0px 15%;
    align-items: center;
}

nav li {
    display: inline-block;
}
nav li a {
    display: flex;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
}


nav li a:hover {
    background-color: rgba(255,255,255,.05);
} 

nav li a.active {
    background-color: rgba(0,0,0,.1);
}

.nav-divider {
    height: 30px;
    width: 1px;
    background-color: #f1b24a;
    display: inline-block;
}

/* Pushes all nav links besides home to the right */
nav li:nth-child(2) {
    margin-left: auto;
}

footer {
    position: fixed;
    display: inline-block;
    bottom: 0; /* 0px from the bottom */
    z-index: 1000; /* Puts the footer in front of the hero image */
    width: 100%;
    padding: 20px 30px;
    background-color: rgba(0,0,0,.5);
    color: rgba(255,255,255,.5);
}
